.lst {
  box-shadow: $shadow;
  border-radius: 5px;
  margin: 15px;
  dt {
    text-align: center;
    border-bottom: 2px solid var(--sec-color-lighter);
    @include border-radius(top);
    font-size: 1.5rem;
    padding: 2px;
  }
  dd {
    margin: 0;
    font-size: 1.4rem;
    @include media-to(s) {
      border-bottom: 1px solid var(--sec-color-lighter);
    }
    a {
      color: var(--sec-color);
      display: inherit;
      padding: 5px 15px;
      outline: none;
      &:hover {
        background-color: var(--sec-color-lighter);
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem theme-alpha(about, 0.5);
      }
    }
    &:last-child a {
      @include border-radius(bottom);
    }
  }
}

.lst-card {
  box-shadow: $shadow;
  // width: 25vw;
  border-radius: 5px;
  @include media-to(m) {
    margin: 15px;
  }
  margin: auto;
  h3 {
    text-align: center;
    border-bottom: 2px solid var(--sec-color-lighter);
    font-size: 1.5rem;
  }
  .content {
    display: grid;
    font-size: 1.5rem;
    // grid-template-columns: repeat(2, 1fr);
    @each $a, $b in (s: 2, m: 3, l: 2) {
      @include media-from($a) {
        grid-template-columns: repeat($b, 1fr);
      }
    }
    @include media-from(s){font-size: 1.4rem;}
    div {
      padding: 15px;
    }
  }
}
