.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  font-size: 1.6rem;
  bottom: 0;
  left: 0;
  z-index: 98;
  will-change: background-color;
  padding: 5px;
  @include media-from(m) {
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    bottom: unset;
    padding: 2.5px;
  }
  a {
    color: #fff;
    border-bottom: 2px solid transparent;
    outline: none;
    &.active {
      border-color: #fff;
    }
    &:not(.active):hover {
      color: #fafafa;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color: #fff, $alpha: 0.5);
    }
  }
}
